:root {
	--primary: #ff6900;
	--background: #ffffff;
	--text-color: #1E2939;
	--text-light: #4A5565;
	--nav-link: #364153;
	--border: #E5E7EB;
	--primary-hover: #ff7b1d;
	--shadow-card: 0 1px 4px rgba(0, 0, 0, 0.1);
	--background-secondary: #F9FAFB;
	--peach: #FFB8A0;
	--sky-blue: #A8D8FF;
	--pink: #FFC4DD;
	--mint: #B4E5D4;
}

html, body {
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	background-color: var(--background);
}

h1, h2, h3, h4, h5, h6, p {
	margin: 0;
	padding: 0;
	font-weight: normal;
}

h1 {
	color: var(--text-color);
	font-size: 36px;
	line-height: 46px;
	font-weight: 400;	
}

h2 {
	color: var(--text-color);
	font-size: 30px;
	line-height: 36px;
	font-weight: 400;
}

h3 {
	color: var(--text-color);
	font-size: 18px;
	line-height: 24px;
	font-weight: 700;
}

h4 {
	color: var(--text-color);
	font-size: 16px;
	line-height: 24px;
	font-weight: 400;
}

p {
	color: var(--text-color);
	font-size: 18px;
	line-height: 28px;
}

@media screen and (min-width: 968px) {
	h1 {
		font-size: 60px;
		line-height: 72px;
	}

	h4 {
		font-size: 18px;
		line-height: 27px;
	}
}

.btn {
	border-width: 1px;
	border-style: solid;
	border-radius: 10px;
	display: flex;
	padding: 16px 32px;
	gap: 8px;
	font-size: 16px;
	text-decoration: none;
	justify-content: center;
	align-items: center;
}

.btnPrimary {
	background-color: var(--primary);
	color: var(--background);
	border-color: var(--primary);
}

.btnPrimary:hover {
	background-color: var(--primary-hover);
	border-color: var(--primary-hover);
}

.btnGhost {
	background-color: var(--background);
	color: var(--text-color);
	border-color: var(--border);
}

.btnGhost:hover {
	color: var(--background);
	background-color: var(--primary-hover);
	border-color: var(--primary-hover);
}

nav.topNavigation {
	background-color: #ffffff;
	color: white;
	width: 100%;
	border-bottom: 1px solid rgba(0, 0, 0, 0.10);
	height: 80px;
	display: flex;
	justify-content: center;
	position: sticky;
	top: 0;
	z-index: 1000;
}

nav.topNavigation .navContainer {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	max-width: 1300px;
	padding: 0 32px;
}

.navContainer .logo a {
	color: var(--text-color);
	text-decoration: none;
	font-weight: 700;
	font-size: 24px;
	display: flex;
	height: fit-content;
	align-items: center;
	gap: 8px;
}

nav.topNavigation .logo a img {
	height: 32px;
	width: auto;
}

.navLinks {
	display: flex;
	flex-direction: row;
	font-size: 20px;
	line-height: 24px;
	gap: 32px;
	list-style: none;
	display: none;
}

@media screen and (min-width: 968px) {
	.navLinks {
		display: flex;
	}
}

.navLinks li a {
	text-decoration: none;
	color: var(--nav-link);
}

.navLinks li a:hover {
	color: var(--primary);
}

.navLinks li a.currentLink {
	color: var(--primary);
}

nav.topNavigation .cartIcon {
	display: none
}

@media screen and (min-width: 968px) {
	nav.topNavigation .cartIcon {
		display: block;
	}
}

nav.topNavigation .cartIcon svg {
	width: 24px;
	height: 24px;
}

nav.topNavigation .cartIcon a:hover svg path {
	stroke: var(--primary);
}

.navigationMenuButton {
	display: block;
	position: relative;
}

.navigationMenuButton img {
	width: 32px;
	height: 32px;
	cursor: pointer;
}

.navigationMenuButton input[type="checkbox"] {
	opacity: 0;
	position: absolute;
	width: 32px;
	height: 32px;
	cursor: pointer;
	top: 0;
	left: 0;
	margin: 0;
	z-index: 100;
}

.navigationMenu {
	display: none;
	position: absolute;
	top: 60px;
	right: -32px;
	z-index: 1001;
	background-color: var(--background);
	width: 100vw;
}

.navigationMenu .menuLinks {
	display: flex;
	flex-direction: column;
	gap: 16px;
	padding: 16px;
}

.navigationMenu a {
	text-decoration: none;
	color: var(--text-color);
	font-size: 16px;
	line-height: 20px;
}

.navigationMenu a:hover {
	color: var(--primary);
}

.navigationMenu .menuLinks hr {
	border: none;
	border-top: 1px solid var(--border);
	width: 100%;
	height: 1px;
	margin: 8px 0;
}

.cartLinkMobile svg {
	width: 24px;
	height: 24px;
	stroke: var(--text-color);
}

.navigationMenuButton input[type="checkbox"]:checked ~ .navigationMenu {
	display: flex;
}

@media screen and (min-width: 968px) {
	.navigationMenuButton {
		display: none;
	}	
}


footer {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	background-color: var(--background-secondary);
}
.footerContainer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	max-width: 1380px;
	width: 100%;
	padding: 48px 16px;
	box-sizing: border-box;
	gap: 32px;
}

.footerText {
	font-size: 16px;
	line-height: 20px;
	color: var(--text-light);
	margin-bottom: 8px;
}

.footerLogo a {
	color: var(--text-color);
	text-decoration: none;
	font-weight: 700;
	font-size: 24px;
	display: flex;
	height: fit-content;
	align-items: center;
	gap: 8px;
	margin-bottom: 16px;
}

.quickLinks {
	display: flex;
	flex-direction: column;
	gap: 16px;
}

ul.footerLinks {
	list-style: none;
	padding: 0;
	margin: 0;
	display: flex;
	flex-direction: column;
	gap: 8px;
}

ul.footerLinks li a {
	text-decoration: none;
	color: var(--text-light);
	font-size: 16px;
	line-height: 20px;
}

ul.footerLinks li a:hover {
	color: var(--primary);
}

li.socials {
	display: flex;
	flex-direction: row;
	gap: 16px;
	margin-top: 16px;
}

li.socials a img {
	width: 24px;
	height: 24px;
}

.copyRight {
	border-top: 1px solid var(--border);
	padding: 16px 0;
	margin-top: 16px;
	width: 100%;
	max-width: 1380px;
}

.copyRight p {
	font-size: 14px;
	line-height: 18px;
	color: var(--text-light);
	text-align: center;
}


@media screen and (min-width: 968px) {
	footer {
		align-items: center;
	}

	.footerContainer {
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-between;
		padding: 64px 0;
	}
}

.productCardLink {
	text-decoration: none;
	color: inherit;
}

.productCard {
	display: flex;
	flex-direction: column;
	width: 100%;
	max-width: 400px;
	border-radius: 10px;
	position: relative;
	cursor: pointer;
	border-bottom: 1px solid rgba(0, 0, 0, 0.10);
	border-right: 1px solid rgba(0, 0, 0, 0.10);
}

.productCard .imgContainer {
	width: 100%;
	aspect-ratio: 1 / 1;
	overflow: hidden;
	border-radius: 10px 10px 0 0;
	position: relative;
}

.productCard .imgContainer .productImage {
	width: 100%;
	height: 100%;
	object-fit: cover;
	z-index: 0;
}

.productCard:hover {
	box-shadow: var(--shadow-card);
	transition: box-shadow 0.3s ease;
}

.productCard:hover .imgContainer .productImage {
	transform: scale(1.05);
	transition: transform 0.3s ease;
}

.productCard .imgContainer .heart {
	position: absolute;
	z-index: 100;
	top: 16px;
	right: 16px;
	background-color: var(--background);
	width: 32px;
	height: 32px;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	background: url('images/heart-icon.svg');
	background-color: white;
	background-position: center;
	background-repeat: no-repeat;
	background-size: 16px 16px;
	transition: all 0.2s ease;
}

.productCard .imgContainer .heart:hover {
	background: url('images/heart-icon-filled.svg');
	background-color: white;
	background-position: center;
	background-repeat: no-repeat;
}

.productCard .productInfo {
	padding: 16px;
	display: flex;
	flex-direction: column;
	gap: 8px;
}

.price {
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-size: 18px;
	line-height: 24px;
	font-weight: 600;
	color: var(--text-color);
}

.addToCart {
	background-color: var(--primary);
	color: var(--background);
	border-radius: 8px;
	padding: 8px;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	transition: background-color 0.3s ease;
}

.addToCart:hover {
	background-color: var(--primary-hover);
}

@media screen and (min-width: 968px) {
	.productCard {
		width: 286px;
	}

	.productCard .imgContainer {
		width: 286px;
	}
}
