.shopHeadingContainer {
	padding: 48px 16px;
	color: var(--text-color);
	display: flex;
	flex-direction: column;
	gap: 32px;
}

.shopTitleSubtitle {
	display: flex;
	flex-direction: column;
	gap: 16px;
}

.shopSubheading {
	font-size: 16px;
	line-height: 24px;
	color: var(--text-light);
}

.categoriesContainer {
	display: flex;
	flex-direction: column;
	padding: 24px;
	border-bottom: 1px solid var(--border);
	border-right: 1px solid var(--border);
	border-left: 1px solid var(--border);
	border-radius: 10px;
	gap: 32px;
}

.categoriesContainer h2 {
	font-size: 18px;
	line-height: 28px;
	font-weight: 700;
	display: flex;
	align-items: center;
	gap: 8px;
}

.categoriesList {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	gap: 12px;
}

.categoriesList .btn {
	padding: 8px 16px;
	font-size: 16px;
}

.resultsCount {
	font-size: 16px;
	line-height: 24px;
	color: var(--text-light);
}

.productList {
	display: flex;
	flex-wrap: wrap;
	gap: 24px;
	justify-content: center;
	padding: 0 16px;
	margin-bottom: 128px;
}

@media screen and (min-width: 968px) {
	.shopHeadingContainer {
		max-width: 1380px;
		margin: 0 auto;
	}

	.shopSubheading {
		font-size: 18px;
		line-height: 28px;
	}

	.resultsCount {
		font-size: 18px;
		line-height: 28px;
	}

	.productList {
		max-width: 1380px;
		width: 100%;
		margin: 0 auto 128px auto;
		justify-content: flex-start;
	}
}