.backContainer {
	width: 100%;
	max-width: 1380px;
	margin: 0 auto;
	justify-content: center;
	padding: 48px 16px;
	box-sizing: border-box;
}

.backToShop {
	display: flex;
	align-items: center;
	gap: 8px;
	font-size: 16px;
	line-height: 24px;
	color: var(--text-color);
	text-decoration: none;
}

.backToShop svg {
	rotate: 180deg;
}

.backToShop:hover {
	color: var(--primary);
}

.productSection {
	display: flex;
	flex-direction: column;
	width: 100%;
	align-items: center;
	background-color: var(--background-secondary);
	padding: 32px 16px;
	box-sizing: border-box;
	margin-bottom: 64px;
	justify-content: center;
}

.productContentContainer {
	width: 100%;
	max-width: 1380px;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 48px;
}

.productImageContainer {
	max-width: 585px;
	width: 100%;
	box-sizing: border-box;
}

.productImageContainer img {
	width: 100%;
	height: auto;
	border-radius: 16px;
	object-fit: cover;
}

.productDetailsContainer {
	display: flex;
	flex-direction: column;
	gap: 24px;
	width: 100%;
	max-width: 1380px;
	margin: 0 auto;
	padding-bottom: 64px;
}

.itemTitleAndPrice {
	display: flex;
	flex-direction: column;
	gap: 8px;
	padding-bottom: 24px;
	border-bottom: 1px solid var(--border);
}

.rating {
	display: flex;
	width: 100%;
	gap: 8px;
	margin-bottom: 24px;
}

.itemTitleAndPrice .productPrice {
	color: var(--primary);
	font-size: 30px;
	line-height: 36px;
	font-weight: 700;
}

.productDescription {
	font-size: 16px;
	line-height: 26px;
	color: var(--nav-link);
	padding-bottom: 24px;
	border-bottom: 1px solid var(--border);
}

.buttonsContainer {
	display: flex;
	flex-direction: column;
	gap: 12px;
}

.guarantee {
	display: flex;
	flex-direction: column;
	gap: 8px;
}

.guarantee p {
	font-size: 16px;
	line-height: 24px;
	color: var(--text-light);
	display: flex;
	align-items: center;
	gap: 8px;
}

.youMayAlsoLikeContainer {
	width: 100%;
	max-width: 1380px;
	margin: 0 auto;
	box-sizing: border-box;
}

.youMayAlsoLike {
	display: flex;
	flex-direction: column;
	width: 100%;
	box-sizing: border-box;
	gap: 48px;
	margin-bottom: 128px;
	padding: 0 16px;
}

.suggestedProductsContainer {
	display: flex;
	width: 100%;
	overflow-x: auto;
	gap: 24px;
	padding-bottom: 16px;
}

.suggestedProductsContainer .productCard {
	width: 286px;
}

@media screen and (min-width: 968px) {
	.productContentContainer {
		flex-direction: row;
		gap: 48px;
		align-items: flex-start;
	}

	.productDescription {
		font-size: 18px;
		line-height: 26px;
	}

	.youMayAlsoLike {
		gap: 64px;
	}
}
